
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
}
<div id="myAlert" role="alert">
    <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;" id="myAlert-font">
        </font>
    </font>
</div>
<h1 class="cover-heading">欢迎访问牛油果CRM管理系统</h1>




@section scripts{
    <script>
        //提示alter
        function alterOpen(bool, type, text, time) {
            $.alterMsg({
                bool: bool,
                type: type,
                text: text,
            });
            window.setTimeout(function () {
                $.alterMsg({
                    bool: false,
                    type: '',
                    text: '',
                });
            }, time);

        }
    </script>

}
